.footer-card[disabled] {
  display: none;
}

.final-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer-card {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
